<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ asset('bundles/framework/css/structure.css', absolute=true) }}" rel="stylesheet" />
        {% block head %}{% endblock %}
    </head>
    <body>
    </body>
</html>